
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 20vh;
}

.picture {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 82px 15px;
  position: relative;
}

.signIn{
  display: flex;
  flex-direction: column;
  padding: 52px; 
  border-radius: 3px;
  border: 1px solid rgba(85, 85, 85, 0.274);

}

.logo{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0px 30px;
}

.username{
  padding: 10px;
  border: 1px solid rgba(85, 85, 85, 0.274);
  border-radius: 5px;
  background-color: rgb(248, 248, 248);
  font-size: 11px;
  width: 90%;
  margin-bottom: 5px;
}

.password{
  padding: 10px;
  border: 1px solid rgba(85, 85, 85, 0.274);
  border-radius: 5px;
  background-color: rgb(248, 248, 248);
  font-size: 11px;
  width: 90%;

}

.submit{
  display: flex;
  background-color: rgba(52, 178, 228, 0.582);
  border: none;
  border-radius: 7px;
  padding: 8px 0px;
  width: 98%;
  color: WHITE;
  font-size: 14px;
  margin-top: 12px;
  justify-content: center;
  margin-bottom: 5px;
}

.form{
  width: 100%;
  flex-direction: column;
  
}

.space{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;  
}

.line1{
  background-color: rgb(219, 219, 219);
  height: 1px;
  width: 135px;  
} 
.or{
  display: flex;
  font-weight: 400 ;
  color:gray;
  font-size: 12px;
  padding:0px  0px;	
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}
 .line2{
  background-color: rgb(219, 219, 219);
  height: 1px;
  width: 135px;
} 

.fbsection{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fblink{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
}

.log{
  color: #4460a0;
  font: bold 14px/20px 'Roboto', sans-sarif;
}

.forgot{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #545557;
  font-weight: 300;
}

.container{
  position: relative;
  bottom: 91px;
  right: 0;  
}

.noAccount{
  border: 1px solid rgba(85, 85, 85, 0.274);
  border-radius: 3px;
  height: 7vh;
  width: 39vh;
  margin: 27px -52px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.sign{
  font-weight: 550; 
  color: #2a98b9;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.app{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;  
  font-size: 13px;

}

.appStores{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.apple{ 
  height: 40px;
  padding: 7px;
}

.google{ 
  height: 40px;
}

@media screen and (min-width: 415px) and (max-width: 1024px){
  .main{
    width: 60%;
    font-size: 36px;
  }
  .picture{
    display: none;

  }
  .google{
    display: none;
  }
}

@media only screen and (max-width: 414px) {
  .picture{
    display: none;
  }
  .google{
    display: none;
  }
  .apple{
    display: none;
  }

  .or{
    font-size: 8px;

  }
  .forgot{
    display:none;
  }

  .app{
    display: none;
  }
 
 

  
  
}